<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap5 desktop com rescap">

  <Identity
    Name="D1FC332A.DeskBoxWidgets"
    Publisher="CN=3B75AA4A-2433-4F71-9CC1-B644B26F474A"
    Version="1.5.5.0" />

  <mp:PhoneIdentity PhoneProductId="7bb59608-421d-4fd4-8f12-8929f87d086a" PhonePublisherId="00000000-0000-0000-0000-000000000000" />

  <Properties>
    <DisplayName>ms-resource:AppDisplayName</DisplayName>
    <PublisherDisplayName>朱天雨</PublisherDisplayName>
    <Logo>Assets\Store\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19044.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-US" />
    <Resource Language="zh-CN" />
    <Resource Language="zh-TW" />
    <Resource Language="ja-JP" />
    <Resource Language="de-DE" />
    <Resource Language="pt-BR" />
    <Resource Language="hi-IN" />
    <Resource Language="es-ES" />
    <Resource Language="fr-FR" />
    <Resource Language="ar-SA" />
    <Resource Language="bn-BD" />
    <Resource Language="ru-RU" />
    <Resource Language="vi-VN" />
  </Resources>

  <Applications>
    <Application
      Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="ms-resource:AppDisplayName"
        Description="ms-resource:AppDescription"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Store\Square150x150Logo.png"
        Square44x44Logo="Assets\Store\Square44x44Logo.png">
        <uap:DefaultTile
          Wide310x150Logo="Assets\Store\Wide310x150Logo.png"
          Square310x310Logo="Assets\Store\Square310x310Logo.png" />
        <uap:SplashScreen Image="Assets\Store\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap5:Extension Category="windows.startupTask">
          <uap5:StartupTask
            TaskId="DeskBoxStartupTask"
            Enabled="false"
            DisplayName="DeskBox" />
        </uap5:Extension>
        <desktop:Extension Category="windows.toastNotificationActivation">
          <desktop:ToastNotificationActivation ToastActivatorCLSID="4D54EEC6-13BE-4C8F-A8F7-81FE72F4B2C9" />
        </desktop:Extension>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer
              Executable="DeskBox.exe"
              Arguments="----AppNotificationActivated:"
              DisplayName="DeskBox">
              <com:Class Id="4D54EEC6-13BE-4C8F-A8F7-81FE72F4B2C9" DisplayName="DeskBox" />
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>
